/* for the login and the signup */
.form-container {
    width: 100%;
    max-width: 400px;
}
.signup-container{
    width: 100%;
}
#login-form{
    margin-top: 17%;
    /* border: 2px solid black; */
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 1000px) {
    .form-container {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .form-container {
        width: 100%;
    }
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}